Source: debathena-printing-config
Section: debathena-config/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.37.2), config-package-dev (>= 4.12~), python-all (>= 2.3.5-11), python-support (>= 0.3.2), gettext, python-setuptools, python-nose, python-hesiod, python-cups, python-debian, python-apt, debathena-cups
Standards-Version: 3.9.0

Package: debathena-printing-config
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, debathena-cupsys-config, debathena-hesiod-config, cups-bsd | cupsys-bsd, python, python-hesiod, python-cups, python-pkg-resources, debathena-getcluster (>= 10.1.0-0debathena1~)
Recommends: debathena-apparmor-config, rlpr
Provides: ${diverted-files}
Conflicts: ${diverted-files}
XB-Python-Version: ${python:Versions}
Description: Printing configuration for Debathena
 This package configures both graphical and command-line printing in a way that
 is compatible with the traditional Athena printing infrastructure and eases
 the transition to CUPS-based printing.
