#!/usr/bin/make -f

DEB_DIVERT_EXTENSION = .debathena

DEB_DIVERT_FILES_debathena-printing-config += \
	/usr/bin/lp.debathena \
	/usr/bin/lpq.debathena \
	/usr/bin/lpr.debathena \
	/usr/bin/lprm.debathena \
	\
	/usr/share/man/man1/lp.debathena.1.gz \
	/usr/share/man/man1/lpq.debathena.1.gz \
	/usr/share/man/man1/lpr.debathena.1.gz \
	/usr/share/man/man1/lprm.debathena.1.gz \

DEB_DIVERT_FILES_debathena-cluster-printing-config += \
	/etc/cups/client.conf.debathena

DEB_UNDIVERT_FILES_debathena-printing-config += \
	/usr/bin/cancel.debathena \
	/usr/sbin/lpc.debathena \
	/usr/share/man/man1/cancel.debathena.1.gz \
	/usr/share/man/man8/lpc.debathena.8.gz

DEB_UNDIVERT_VERSION_/usr/bin/cancel.debathena = 1.17
DEB_UNDIVERT_VERSION_/usr/sbin/lpc.debathena = 1.17
DEB_UNDIVERT_VERSION_/usr/share/man/man1/cancel.debathena.1.gz = 1.17
DEB_UNDIVERT_VERSION_/usr/share/man/man8/lpc.debathena.1.gz = 1.17

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk

build/debathena-printing-config::
	msgfmt -o system-config-printer.mo system-config-printer.po
