#!/usr/bin/make -f

%:
	dh $@ --with python2 --with config-package

DEB_PYTHON2_MODULE_PACKAGES = debathena-printing-config

DEB_DIVERT_EXTENSION = .debathena

# NOTE: This is the opposite of the test below
ifeq (Ubuntu,$(shell lsb_release -si))
override_dh_configpackage:
	dh_configpackage --package=debathena-printing-config \
	    --transform "/etc/gtk-3.0/settings.ini.debathena debian/transform_settings.ini.debathena"
	dh_configpackage
endif

# NOTE: This the opposite of the above test.
ifneq (Ubuntu,$(shell lsb_release -si))
override_dh_install:
	dh_install --package=debathena-printing-config debian/settings.ini etc/gtk-3.0
	dh_install
endif

override_dh_auto_test:
	python setup.py nosetests
	dh_auto_test

override_dh_auto_clean:
	dh_auto_clean
	rm -rf .eggs/ *.egg-info/ .coverage
